
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('/static/CSS/icons/background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(255, 127, 80, 0.3);
}

.navbar .logo {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    font-weight: bold;
    color: #ff7f50;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.navbar .logo img {
    width: 80px;
    height: auto;
    margin-right: 15px;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.3));
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 25px;
}

.navbar ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 500;
    transition: all 0.3s;
    padding: 8px 15px;
    border-radius: 8px;
}

.navbar ul li a:hover {
    color: #ff7f50;
    background-color: rgba(255, 127, 80, 0.1);
}

.form-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    border: 1px solid rgba(255, 127, 80, 0.3);
    transition: all 0.3s ease;
}

.form-header {
    margin-bottom: 25px;
    color: #fff;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}


.input-field {
    margin-bottom: 25px;
}

.input-field label {
    display: block;
    margin-bottom: 8px;
    color: #fff;
    font-weight: 500;
}

.input-field input {
    width: 100%;
    padding: 12px;
    border: 1px solid rgba(255, 127, 80, 0.3);
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    transition: all 0.3s ease;
}

.input-field input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.input-field input:focus {
    color: #fff;
    outline: none;
    background-color: rgba(255, 255, 255, 0.1);
}

.btn-custom {
    background: linear-gradient(to right, #ff7f50, #ff9f7d);
    color: #ffffff;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 500;
    width: 100%;
    transition: all 0.3s ease;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 15px rgba(255, 127, 80, 0.2);
    overflow: hidden;
}

.register-link {
    margin-top: 20px;
    text-align: center;
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.register-link a {
    color: #ff7f50;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;
}

.register-link a:hover {
    color: #ffa07a;
    text-decoration: underline;
}
